body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  #app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100%;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }
  
  #error {
    background-color: #e91e63;
    color: white;
    font-size: large;
    width: 22%;
    text-align: center;
    margin: 0px auto 12px;
    border-radius: 1px 0px 30px 30px;
    display: block;
  }
  
  .holder{
    font-size: 10px;
    width: 60%;
    height: fit-content;
    }
  
  .entry{
    background: rgba(59, 74, 107, .4);
  }
  
  #entryHolder{
  font-size: 30px;
  width: 100%;
  height: fit-content;
  }
  
  #date{
    font-size: 30px;
    width: 100%;
    height: 50%;
  }
  
  #temp{
    font-size: 30px;
    width: 100%;
    height: 50%;
    padding:2px
  }
  
  #content{
    font-size: 30px;
    width: 100%;
    height: 50%;
    padding: 2px;
  }
  
   .headline {
    font-size: 60px;
    width: 70%;
    height: 50%;
    text-align: center;
    margin: auto;
  }
  .title{
    font-size: 30px;
    width: 70%;
    height: 50%;
    font-weight: bold;
  }
  
  /*  Basic Styling To Override Default For Basic HTML Elements */
  label{
    display:block;
    font-size: 27px;
  }
  
  input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
  }
  
  button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
  }
  h1{
    font-size: 36px;
  }
  
  textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }
  /* Reset style for HTML element on active to have no border*/
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  /* Style for Placeholder Text*/
  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
  
  } 
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
  
  } 
  
  ::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
  
  } 